body {
    font-family: "Ubuntu", sans-serif;
    display: grid;
    place-items: center; /* Shorthand for align-items: center; justify-items: center; */
    height: 20vh;
}

.weather-container h1 {
    font-weight: 400;
    font-size: 55px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    border-radius: 5px;
    overflow: hidden;
}

.input {
    flex: 1;
    height: 100%;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    background-color: #F5F5F5;
    border: 1px solid #B8B8B8;
    caret-color: #1F1F1F;
    color: #1F1F1F;
    padding: 7px 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    box-sizing: border-box; /* Ensure padding and border are included in the height */
}
  
.input:hover {
    border: 2px solid #1F1F1F;
}
  
.input:focus {
    border: 2px solid #1F1F1F;
    background-color: #B8B8B8;
}
  
.search__btn {
    border: none;
    cursor: pointer;
    background-color: #F5F5F5;
    border-radius: 0 5px 5px 0;
    height: 100%; /* Match the height of the container */
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;
    box-sizing: border-box; /* Ensure padding and border are included in the height */
}
  
.search__btn:hover {
    background-color: rgba(54, 54, 56, 1);
    color: #F5F5F5;
}

#location {
    display: none;
}

#detail {
    display: none;
}

#resultLocation {
    font-weight: 300;
    font-size: 20px;
}

#resultLatLon {
    font-weight: 200;
    font-size: 20px;
}

#resultTemperature {
    font-weight: 500;
    font-size: 40px;
}

#resultDescription {
    font-weight: 300;
    font-size: 30px;
}

#resultHumidity {
    font-weight: 200;
    font-size: 20px;
}